<!DOCTYPE html>
<html>

<body>
  <h2>Enter Winner Details</h2>
  <form action="/details" method="POST">
    <label for="fname">Featureprenuer of the Week</label><br>
    <input type="text" name="fpr" name="fname" value=""><br>
    <label for="lname">Female Featureprenuer of the Week</label><br>
    <input type="text" name="ffpr" name="lname" value=""><br>
    <label for="lname">writer of the week</label><br>
    <input type="text" name="writer" name="lname" value=""><br><br>
    <label for="fname">tool researcher of the week</label><br>
    <input type="text" name="tool" name="fname" value=""><br>
    <label for="fname">Intern of the week</label><br>
    <input type="text" name="intern" name="fname" value=""><br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>